<section class="section">
  <div *ngFor="let bug of bugs">
    <figure class="section__figure">
      <h2>{{ bug.name["name-EUen"] | titlecase }}</h2>
      <h5>{{ bug["catch-phrase"] }}</h5>
      <img src="{{ bug.image_uri }}" alt="" />

      <p>
        <span
          ><img
            class="blathers"
            src="https://static.wikia.nocookie.net/animalcrossingpocketcamp_gamepedia_en/images/4/46/Blathers_Icon.png"
            alt="" /></span
        >{{ bug["museum-phrase"] }}
      </p>
    </figure>
  </div>
</section>
